.switcher {
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate3d(-50%, 300%, 0);
  transition: transform .3s $timing;

  &.active {
    transform: translate3d(-50%, 0, 0);

  &:hover {
    transform: translate3d(-50%, 0, 0) scale(1.2);
    & .switcherText {
      background: $white;
      color: $black;
      .white & {
        background: $black;
        color: $white;
      }
    }

    & .border {
      animation-direction: reverse;
    }
  }
}

  &Text {
    background: $black;
    color: $white;
    padding: 0.4rem 0.5rem;
    border-radius: 0.5rem;
    transition: background-color .3s $timing, color .3s $timing;
    cursor: none;
    .white & {
      background: $white;
      color: $black;
    }
  }

  & .switcherIcon {
    animation: pointing .4s linear infinite alternate;
  }
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid $black;
  border-radius: 0.5rem;
  animation: grow 0.5s linear infinite;
  pointer-events: none;

  .white & {
    border-color: $white;
  }
}

@media screen and (max-width: 600px) {
  .switcher {
    position: relative;
    font-size: 3.5rem;
    margin-bottom: 8rem;
    margin-top: 30rem;
    transform: translate3d(-50%, 0, 0);
    width: max-content;
    &Text {
      padding: 1rem 2rem;
      border-radius: 1.5rem;
    }
  }

  .border {
    border-radius: 1.5rem;
  }
  
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}