.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.greeting {
  color: $black;
  @include interNar;
  font-size: 5rem;
  line-height: 1;
  text-transform: lowercase;
  padding-left: 1.75rem;
}

.links {
  position: absolute;
  bottom: $paddingEdge;
  left: $paddingEdge;
  display: flex;
  padding-left: 1.75rem;
  margin-top: 10rem;
}