.mainLayout {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  min-height: 50rem;
  width: 100vw;
  background: #fff;
  transition: transform 0.5s ease-in-out, opacity .5s ease-in-out;

  &.notLoaded {
    transform: scale(1.2);
    opacity: 0;
  }
}

.leftSide {
  width: 80vw;
  height: 100%;
  max-height: 100vh;
  overflow: scroll;
  padding: $paddingEdge 0 $paddingEdge $paddingEdge;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
  
}

.rightSide {
  width: 20vw;
  height: 100%;
  padding: $paddingEdge $paddingEdge $paddingEdge 0;
}

.rightTop {
  width: 100%;
}

.rightBottom {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.email {
  position: fixed;
  right: $paddingEdge;
  bottom: $paddingEdge;
  cursor: none;
  color: $white;
  mix-blend-mode: difference;
  font-weight: 500;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: $white;
    transition: transform 0.3s ease-in-out;
  }

  &.hidden {
    display: none;
  }

  &:hover {
    &:before {
      transform: translateX(100%);
    }
  }
}

.aboutLink {
  position: fixed;
  right: 0rem;
  bottom: 20vh;
  transform: translate(50%, 0);
  transition: transform .3s ease-in-out;
  &:hover {
    transform: translate(0, 0);
  }

  &.hidden {
    transform: translate(100%, 0);
  }
}

@media screen and (max-width: 768px){
  .rightSide {
    padding-right: 4rem;
    padding-left: 4rem;
    width: 100vw;
    height: 10vh;
    // position: fixed;
    top: 0;
    left: 0;
    // z-index: 1;
  }

  .rightBottom {
    height: 0;
  }

  .leftSide {
    width: 100vw;
    height: 89vh;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 15rem;
    padding: 10rem 2rem 25rem 2rem;
  }

  .aboutLink {
    z-index: 1;
    bottom: 10vh;
    display: none;
    &:hover {
      transform: translate(50%, 0);
    }

    &.hidden {
      transform: translate(100%, 0);
    }

    .home & {
      display: block;
    }
  }
  .email {
    font-size: 3.5rem;
    bottom: 2.5rem;
  }

  .mainLayout {
    flex-direction: column-reverse;
    justify-content: flex-end;
    &.notLoaded {
      transform: scale(1);
      opacity: 1;
    }
  }
}