.mainLayout {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  min-height: 50rem;
  width: 100vw;
  background: #fff;
  padding: $paddingEdge;
}

.leftSide {
  width: 75vw;
  height: 100%;
}

.rightSide {
  width: 25vw;
  height: 100%;
}

.rightTop {
  width: 100%;
}

.rightBottom {
  height: 100%;
  width: 100%;
  
}