.project {
  position: relative;
  color: $white;
  max-height: 30rem;
  box-sizing: border-box;
  // background: rgba(255,255,255, 0.7);
  max-width: max-content;
  // box-shadow: 0 0 10px 10px $black ;
  transition: opacity 0.3s 0.3s ease-in-out, max-height .7s ease-in-out, margin .7s ease-in-out;

  &:not(:first-child) {
    margin-top: 5rem;
  }

  &.hidden {
    opacity: 0;
    max-height: 0;
    margin: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, max-height .7s ease-in-out, margin .7s ease-in-out;
  }

  &:hover {
    & .border {
      opacity: 1;
      
    }
  }
}

.closeTag {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  .opened & {
    opacity: 1;
  }
}

.border {
  position: absolute;
  top: -10%;
  left: -1%;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  stroke-dasharray: 5;
  animation: dash 25s linear infinite;
  
  .opened & {
    opacity: 0;
    transition-delay: 0;
  }
}

.text {}

.name {
  font-size: 5rem;
  font-weight: 500;
  line-height: 0.8;
  padding-left: 2rem;
  text-transform: lowercase;
}

.description {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.descriptionText {
  font-size: 1.5rem;
  font-weight: 200;
  padding-left: 2rem;
}

.index {
  position: absolute;
  top: 0;
  left: 0;
}

.tags {
  display: flex;
  margin-left: 5rem;
}

.fullDesc {
  font-size: 1.5rem;
  font-weight: 200;
  width: 70%;
}

.projectFull {
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.stackFull {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.link {
  display: block;
  margin-top: 5rem;
  flex: 1 1 auto;
  cursor: none;
}

.extra {
  width: 20%;
}


@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}