.project {
  position: relative;
  color: $white;
  max-height: 30rem;
  box-sizing: border-box;
  max-width: max-content;
  transition: opacity 0.3s 0.3s ease-in-out, max-height .7s ease-in-out, margin-top .7s ease-in-out;

  &:not(:first-child) {
    margin-top: 5rem;
    &.opened {
      margin-top: 0;
    }
  }

  &.hidden {
    opacity: 0;
    max-height: 0;
    margin: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, max-height .7s ease-in-out, margin .7s ease-in-out;
    &:not(:first-child) {
      margin-top: 0;
    }
  }

  

  &:hover {
    & .border {
      opacity: 1;
      
    }
  }
}

.closeTag {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  .opened & {
    opacity: 1;
  }
}

.border {
  position: absolute;
  top: -10%;
  left: -1%;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  stroke-dasharray: 5;
  animation: dash 25s linear infinite;

  .opened & {
    opacity: 0;
    transition-delay: 0;
  }
}

.text {}

.name {
  font-size: 5rem;
  font-weight: 500;
  line-height: 0.8;
  padding-left: 2rem;
  text-transform: lowercase;
}

.description {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.descriptionText {
  font-size: 1.5rem;
  font-weight: 200;
  padding-left: 2rem;
}

.index {
  position: absolute;
  top: 0;
  left: 0;
}

.tags {
  display: flex;
  margin-left: 5rem;
}

.fullDesc {
  font-size: 1.5rem;
  font-weight: 200;
  width: 70%;
  line-height: 1.4;

  & a {
    text-decoration: underline;
    cursor: none;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    &:hover {
      background: $white;
      color: $black
    }
  }
}

.projectFull {
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.stackFull {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.link {
  display: block;
  margin-top: 5rem;
  flex: 1 1 auto;
  cursor: none;
}

.extra {
  width: 20%;
}

.video {
  margin-bottom: 3rem;
  width: 53rem;
  height: 30rem;
}

.image {
  width: 53rem;
  height: auto;
  margin-bottom: 2rem;
  & img {
    width: 100%;
  }
}


@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

    
@media screen and (max-width: 768px){
  .name {
    font-size: 10rem;
    padding-left: 4rem;
    width: 100%;
  }

  .description {
    flex-direction: column;
    align-items: flex-start;
  }

  .descriptionText {
    font-size: 4rem;
    padding-left: 4rem;
    // max-width: 70vw;
  }

  .tags {
    margin-top: 4rem;
    flex-wrap: wrap;
    // max-width: 70vw;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-left: 0;
    padding-left: 4rem;
  }

  .project {
    max-height: unset;
    &:not(:first-child) {
      margin-top: 13rem;
      &.opened {
        margin-top: 13rem;
      }
    }

    &.hidden {
      opacity: 1;
      height: auto;
      max-height: unset;
      pointer-events: all;
      transition: opacity 0.3s ease-in-out, max-height .7s ease-in-out, margin .7s ease-in-out;
      &:not(:first-child) {
        margin-top: 13rem;
      }
    }
  }

  .index {
    font-size: 3rem;
  }

  .fullDesc {
    font-size: 4rem;
    width: 100%;
  
    & a {
      text-decoration: underline;
      cursor: none;
      transition: background-color .3s ease-in-out, color .3s ease-in-out;
      &:hover {
        background: $white;
        color: $black
      }
    }
  }

  .projectFull {
    align-items: flex-start;
    flex-direction: column;
  }

  .image {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    & img {
      width: 100%;
    }
  }

  .closeTag {
    display: none;
  }

  .extra {
    width: 100%;
  }

  .video {
    width: 100%;
    height: calc(90vw * 0.56);
  }

}