.title {
  font-size: 2rem;
  text-transform: lowercase;
  color: $white;
}

.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body {
  font-size: 1rem;
  color: $white;
  font-weight: 500;
  margin-top: 4rem;
  display: flex;
  text-transform: uppercase;

  & a {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    cursor: none;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
      &:hover {
        background: $white;
        color: $black
      }
  }

  & .text {
    width: 70%;
    margin-left: 4rem;
    max-width: 50rem;
    & p {
      margin-top: 0;
    }
  }
}

.image {
  width: 18rem;
  height: auto;
  & img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .image {
    width: 32rem;
    margin-bottom: 4rem;
  }

  .body {
    width: 100%;
    flex-direction: column;
    align-items: center;

    & .text {
      font-size: 3.5rem;
      width: 80%;
      max-width: unset;
    }
  }
}