.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
  border: 1px solid $black;
  padding: 0.5rem 0.8rem;
  border-radius: 15px;
  font-size: 0.7rem;
  white-space: nowrap;
  background-color: $white;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:not(:first-child) {
    margin-left: 0.5rem;
  }

  &:hover:not(.noHover) {
    color: $white;
    background: $black;
    border-color: $white;
  }

  &.bigFont {
    margin-left: 0;
    font-size: 1rem;
  }
}
