@import './fonts/fonts.scss';

$black: #121212;
$white: rgb(237, 237, 237);
$paddingEdge: 1.6rem;
$bebas: 'Bebas';
$timing: cubic-bezier(.05,.59,.62,1.02);

@mixin interNar {
  font-family: "Inter";
  font-weight: 100;
}

:export {
  blackColor: $black;
}