@import './fonts/fonts.scss';

$black: #121212;
$white: #fff;
$paddingEdge: 1.6rem;
$bebas: 'Bebas';

@mixin interNar {
  font-family: "Inter";
  font-weight: 100;
}

:export {
  blackColor: $black;
}